<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.win.dfas.deploy.dao.GroupDao">
<!--说明：单表的所有操作不用写代码（如果只有简单的单表操作，mapper.xml文件也不需要），mybatis-plus已经自动处理-->

    <!--设备组结果集-->
    <resultMap id="deviceGroupResult" type="com.win.dfas.deploy.dto.DeviceGroupDTO">
        <!--此处除了id，其他属性只要同名都可以自动映射上。另外，mybatis将数据库含下划线的列名自动匹配成驼峰式的javabean属性-->
        <id property="id" column="id" />
        <collection property="devices" javaType="ArrayList" column="id" ofType="com.win.dfas.deploy.po.DevicePO" select="selectDevicesByGroupId"/>
    </resultMap>
    <!--根据组id查其关联设备列表-->
    <select id="selectDevicesByGroupId" resultType="com.win.dfas.deploy.po.DevicePO">
      SELECT device.* FROM dc_group_device_ref as ref
      inner join dc_device as device
      on ref.device_id=device.id WHERE ref.group_id = #{id}
    </select>
    <!--根据组id查单个设备详情机器关联设备列表-->
    <select id="getOne" resultMap="deviceGroupResult">
      SELECT * FROM dc_group WHERE id = #{id}
    </select>

    <!--根据组id查单个设备详情机器关联设备列表-->
    <select id="getPageList" resultMap="deviceGroupResult">
      SELECT * FROM dc_group
      ${ew.customSqlSegment}
    </select>



</mapper>